/*
Plugin Name: Juiz Social Post Sharer
Plugin URI: http://creativejuiz.fr
Author: Geoffrey Crofte
Version: Styles v2
*/
.juiz_sps_links {word-wrap:normal!important; clear: both; margin: 1em 0;}
.juiz_sps_maybe_hidden_text { position:absolute; left:-9999px; text-indent:-9999px; }
.juiz_sps_links ul,
.juiz_sps_links .juiz_sps_item  { 
	padding:0!important;
	margin:0!important;
	list-style: none!important;
}
.juiz_sps_links .juiz_sps_item, .juiz_sps_links .juiz_sps_item a, .juiz_sps_links .juiz_sps_item a .juiz_sps_icon { 
	display: inline-block;
}
.juiz_sps_links .juiz_sps_item a { 
	padding: 3px 15px 3px 10px;
	margin: 2px 5px 2px 0;
	border: 1px solid #ddd;
	background-color: #e2e4e6;
	background-image: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
	background-image: -moz-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
	background-image: -ms-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
	background-image: -o-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
	background-image: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
	color: #646e76;
	text-decoration: none;
	font-size: 12px;
	border-radius: 3px;
	box-shadow:1px 1px 3px rgba(0, 0, 0, 0.05);
	-webkit-transition: color .4s, background-color .4s;
	-moz-transition: color .4s, background-color .4s;
	-o-transition: color .4s, background-color .4s;
	transition: color .4s, background-color .4s;
}
.juiz_sps_item .juiz_sps_counter + a {
	border-radius: 0 3px 3px 0;
}
.juiz_sps_links .juiz_sps_item:last-child a { margin-right:0;}
.juiz_sps_links .juiz_sps_icon {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align:-4px;
	background:url("../img/sps_sprites.png") 0 -16px no-repeat;
	-webkit-transition: background-position .4s;
	-moz-transition: background-position .4s;
	-o-transition: background-position .4s;
	transition: background-position .4s;
}

.juiz_sps_links .juiz_sps_link_google .juiz_sps_icon { background-position: -16px -16px; }
.juiz_sps_links .juiz_sps_link_facebook .juiz_sps_icon { background-position: -32px -16px; }
.juiz_sps_links .juiz_sps_link_pinterest .juiz_sps_icon { background-position: -64px -16px; }
.juiz_sps_links .juiz_sps_link_viadeo .juiz_sps_icon { background-position: -80px -16px; }
.juiz_sps_links .juiz_sps_link_linkedin .juiz_sps_icon { background-position: -96px -16px; }
.juiz_sps_links .juiz_sps_link_digg .juiz_sps_icon { background-position: -112px -16px; }
.juiz_sps_links .juiz_sps_link_stumbleupon .juiz_sps_icon { background-position: -128px -16px; }
.juiz_sps_links .juiz_sps_link_weibo .juiz_sps_icon { background-position: -144px -16px; }
.juiz_sps_links .juiz_sps_link_vk .juiz_sps_icon { background-position: -160px -16px; }
.juiz_sps_links .juiz_sps_link_mail .juiz_sps_icon { background-position: -48px -16px; }



.juiz_sps_links .juiz_sps_link_twitter a:hover,
.juiz_sps_links .juiz_sps_link_twitter a:focus { color: #0f8fc1; }
.juiz_sps_links .juiz_sps_link_google a:hover,
.juiz_sps_links .juiz_sps_link_google a:focus { color: #c53120; }
.juiz_sps_links .juiz_sps_link_facebook a:hover,
.juiz_sps_links .juiz_sps_link_facebook a:focus { color: #3b5999; }
.juiz_sps_links .juiz_sps_link_pinterest a:hover,
.juiz_sps_links .juiz_sps_link_pinterest a:focus { color: #c91219; }
.juiz_sps_links .juiz_sps_link_viadeo a:hover,
.juiz_sps_links .juiz_sps_link_viadeo a:focus,
.juiz_sps_links .juiz_sps_link_digg a:hover,
.juiz_sps_links .juiz_sps_link_digg a:focus { color: #000; }
.juiz_sps_links .juiz_sps_link_linkedin a:hover,
.juiz_sps_links .juiz_sps_link_linkedin a:focus { color: #279adf; }
.juiz_sps_links .juiz_sps_link_stumbleupon a:hover,
.juiz_sps_links .juiz_sps_link_stumbleupon a:focus { color: #eb4823; }
.juiz_sps_links .juiz_sps_link_weibo a:hover,
.juiz_sps_links .juiz_sps_link_weibo a:focus { color: #f74700; }
.juiz_sps_links .juiz_sps_link_vk a:hover,
.juiz_sps_links .juiz_sps_link_vk a:focus { color: #5d83aa; }
.juiz_sps_links .juiz_sps_link_mail a:hover,
.juiz_sps_links .juiz_sps_link_mail a:focus { color: #4280c4; }
.juiz_sps_links .juiz_sps_item a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item a:focus .juiz_sps_icon { background-position: 0 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_google a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_google a:focus .juiz_sps_icon { background-position: -16px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_facebook a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_facebook a:focus .juiz_sps_icon { background-position: -32px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_pinterest a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_pinterest a:focus .juiz_sps_icon { background-position: -64px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_viadeo a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_viadeo a:focus .juiz_sps_icon { background-position: -80px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_linkedin a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_linkedin a:focus .juiz_sps_icon { background-position: -96px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_digg a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_digg a:focus .juiz_sps_icon { background-position: -112px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_stumbleupon a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_stumbleupon a:focus .juiz_sps_icon { background-position: -128px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_weibo a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_weibo a:focus .juiz_sps_icon { background-position: -144px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_vk a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_vk a:focus .juiz_sps_icon { background-position: -160px 0; }
.juiz_sps_links .juiz_sps_item.juiz_sps_link_mail a:hover .juiz_sps_icon,
.juiz_sps_links .juiz_sps_item.juiz_sps_link_mail a:focus .juiz_sps_icon { background-position: -48px 0; }

/* special if names are hidden */
.juiz_sps_hide_name .juiz_sps_item a {
	padding: 3px 10px 2px 10px;
}
.juiz_sps_hide_name a .juiz_sps_icon,
.juiz_sps_hide_name a .juiz_sps_network_name {
	display:inline-block;
	vertical-align:middle;
	-webkit-transition: max-width .45s, margin .45s, background-position .4s;
	-moz-transition: max-width .45s, margin .45s, background-position .4s;
	-o-transition: max-width .45s, margin .45s, background-position .4s;
	transition: max-width .45s, margin .45s, background-position .4s;
}
.juiz_sps_hide_name a .juiz_sps_network_name {
	max-width:0;
	white-space: nowrap!important;
	overflow: hidden;
}
.juiz_sps_hide_name a .juiz_sps_icon { margin-right:0; }

.juiz_sps_hide_name a:hover .juiz_sps_network_name, .juiz_sps_hide_name a:focus .juiz_sps_network_name { max-width:80px; }
.juiz_sps_hide_name a:hover .juiz_sps_icon, .juiz_sps_hide_name a:focus .juiz_sps_icon { margin-right:5px; }
.juiz_sps_counter,
.juiz_sps_totalcount {
	position: relative;
	display: inline-block;
	padding: 3px 6px 2px;
	margin-top: 2px;
	vertical-align: top;
	font-size: 14px;
	color: #777;
	background: #ccc;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 0 0 4px rgba(0,0,0,.2);
}
.juiz_sps_counter:after {
	content: "";
	position: absolute;
	right: -6px;
	top: 50%;
	margin-top:-5px;
	border-left: 6px solid #bbbbbb;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
}
.juiz_sps_totalcount {
	border-radius: 3px;
}
.juiz_hidden_counter {
	display:none;
}