@font-face{
	font-family: 'jsps-icon';
	src: url('../../skins/common/fonts/jsps.woff2?200') format('woff2'),
		 url('../../skins/common/fonts/jsps.woff?200' ) format('woff'),
		 url('../../skins/common/fonts/jsps.ttf?200'  ) format('truetype'),
		 url('../../skins/common/fonts/jsps.svg?200'  ) format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="jsps-icon-"],
[class*=" jsps-icon-"]{
	font-family: 'jsps-icon'!important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1em;
}

.jsps-icon-bookmark:before {
  content: "\e900";
}
.jsps-icon-diigo:before {
  content: "\e901";
}
.jsps-icon-evernote:before {
  content: "\e902";
}
.jsps-icon-facebook:before {
  content: "\e903";
}
.jsps-icon-linkedin:before {
  content: "\e904";
}
.jsps-icon-mail:before {
  content: "\e905";
}
.jsps-icon-mix:before {
  content: "\e906";
}
.jsps-icon-pinterest:before {
  content: "\e907";
}
.jsps-icon-pocket:before {
  content: "\e908";
}
.jsps-icon-print:before {
  content: "\e909";
}
.jsps-icon-reddit:before {
  content: "\e90a";
}
.jsps-icon-share:before {
  content: "\e90b";
}
.jsps-icon-tumblr:before {
  content: "\e90c";
}
.jsps-icon-twitter:before {
  content: "\e90d";
}
.jsps-icon-viadeo:before {
  content: "\e90e";
}
.jsps-icon-vk:before {
  content: "\e90f";
}
.jsps-icon-weibo:before {
  content: "\e910";
}
.jsps-icon-whatsapp:before {
  content: "\e911";
}

/* Header */
.jsps-main-header,
.jsps-links-header {
	padding: 15px 35px 18px;
	background: #23282D;
	color: #F2F2F2;
	font-size: 1.4em;
}

.jsps-links-header {
	padding: 15px 35px 18px;
}

.jsps-main-header > *,
.jsps-links-header > * {
	margin: 0;
	color: #FFF;
}

.jsps-links-header p {
	font-size: 1.295em;
	padding: 6px 0 5px;
}

.jsps-main-header .notice > * {
	color: #333;
}

.jsps-main-header h1 small {
	opacity: 0.4;
	font-size: 0.6em;
}

.jsps-main-header h1 .dashicons,
.jsps-links-header .dashicons {
	color: #43AFD2;
	margin-right: 8px;
	font-size: 24px;
	vertical-align: -4px;
}

/**
 * Layout Tabs + Tab contents
 */
.jsps-main-body form {
	position: relative;
	display: flex;
	padding-bottom: 32px;
}

[id="jsps-all-tabs"],
.jsps-tabs {
	margin-top: 0;
}

[id="jsps-all-tabs"] {
	width: 100%;
}

.jsps-tabs::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0; right: 0;
	margin-bottom: -24px;
	height: 24px;
	background: #23282D;
}

.jsps-tabs ul,
.jsps-tabs li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.jsps-tabs {
	position: relative;
	flex-basis: 192px;
	flex-shrink: 0;
	margin-left: -36px;
	background: #23282D;
}

.jsps-tabs ul {
	position: sticky;
	top: 40px;
}

.jsps-tabs li {
	border-top: 1px solid rgba(255, 255, 255, .1);
}

.jsps-tabs a {
	position: relative;
	display: block;
	padding: 20px 16px;
	font-size: 1.1em;
	font-weight: 600;
	color: #FFF;
	text-decoration: none;
	background: #23282D;
	transition: all .275s;
}
.jsps-tabs a::before,
.jsps-tabs a::after {
	content: '';
	position: absolute;
	transition: all .275s;
}

.jsps-tabs a::before {
	top: 0;
	bottom: 0;
	left: 0;
	width: 5px;
	background: #43AFD2;
	opacity: 0;
}
.jsps-tabs a::after {
	top: 50%;
	right: 0;
	margin-top: -10px;
	border-right: 10px solid #FFF;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: 0;
	transform: translateX(100%);
}

.jsps-tabs [aria-selected="true"]::after {
	opacity: 1;
	transform: translateX(0);
}

.jsps-tabs [aria-selected="true"]::before {
	opacity: 1;
}

.jsps-tabs [aria-selected="true"],
.jsps-tabs a:hover,
.jsps-tabs a:focus {
	background: #34393E;
	outline: none;
	box-shadow: none;
}

[id="jsps-all-tabs"] {
	padding-left: 32px;
}

[id="juiz-sps"] [id="jsps-all-tabs"] h2 {
	margin-top: 32px;
	padding-top: 0;
	border-top: 0;
}

.jsps-tab-container {
	width: 100%;
}

.jsps-tab-container .form-table,
.jsps-tab-container .form-table tbody,
.jsps-tab-container .form-table tr,
.jsps-tab-container .form-table td,
.jsps-tab-container .form-table th {
	display: block;
}
.jsps-tab-container .form-table {
	margin-left: -32px;
}

.jsps-tab-container .form-table th,
.jsps-tab-container .form-table td {
	padding-left: 32px;
	width: auto;
}

.jsps-tab-container .form-table th {
	font-size: 1.1em;
	margin-top: 24px;
	padding-top: 32px;
	border-top: 1px solid #F2F2F2;
}

[id="juiz-sps"] .button.button {
	height: auto;
	border: 0;
	font-size: 1em;
	padding: 12px 24px;
	border-radius: 6px;
	font-weight: bold;
	background: #FFF;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .025), 0 8px 8px -8px rgba(0, 0, 0, .2);
	transition: all .275s;
}

[id="juiz-sps"] .button.button:hover,
[id="juiz-sps"] .button.button:focus {
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .05), 0 16px 16px -16px rgba(0, 0, 0, .3);
}

[id="juiz-sps"] .button-primary.button-primary {
	background: #00B1D6;
	text-shadow: 0 -1px 1px #0494B2, 1px 0 1px #0494B2, 0 1px 1px #0494B2, -1px 0 1px #0494B2;
}

[id="juiz-sps"] .button-primary.button-primary:hover,
[id="juiz-sps"] .button-primary.button-primary:focus {
	background: #0494B2;
}

/**
 * Main body
 */

.jsps-main-body {
	padding: 0 0 15px 35px;
	background: #FFF;
	border: 1px solid #E3E8ED;
	border-top: 0;
}

.jsps-main-body p {
	font-size: 14px;
}

.juiz_bottom_links {
	margin-bottom: 0;
	border-top: 1px solid #E3E8ED;
	background: #FFF;
}

.juiz_bottom_links_p {
	margin: 0;
	padding: 20px 35px;
}

[id="juiz-sps"] .error {
	margin: 20px 20px 20px 48px;
}

[id="juiz-sps"] .submit {
	margin-bottom: 3em
}

[id="juiz-sps"] td:empty {
	display: none;
}

[id="juiz-sps"] th .submit {
	font-weight: normal;
	margin: -34px -32px -44px -32px;
	padding: 24px 32px;
	background: #F2F2F2;
}

[id="juiz-sps"] .error em {
	font-weight: normal;
}

[id="juiz-sps"] .jsps_info {
	padding: 20px 25px;
	color: #444;
	line-height: 1.7;
	background: #F2F2F2;
}

[id="juiz-sps"] h2 {
	margin-top: 25px;
	margin-bottom: 0;
	padding: 25px 0 0;
	border-top: 1px solid #E3E8ED;
	font-size: 1.5em;
	color: #444;
	font-weight: bold;
	letter-spacing: 0.125em;
	text-transform: uppercase;
}

.juiz_sps_section_intro {
	margin-bottom: 20px;
	color: #777;
	font-size: 1.2em;
}

[id="juiz-sps"] h3 {
	font-size: 1.65em;
	color: #444;
	font-weight: normal;
}

[id="juiz-sps"] table + h3 {
	margin-top: 3em;
}

[id="juiz-sps"] th {
	font-weight: bold;
}

[id="juiz-sps"] th em {
	font-weight: normal;
	font-style: italic;
	color: #777;
}

.juiz-sps-squared-options {
	display: flex;
	flex-wrap: wrap;
}

.juiz-sps-squared-options .juiz_sps_options_p.juiz_sps_options_p,
.juiz_sps_options_p.juiz_sps_options_p.lmdd-mirror {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	flex-basis: 140px;
	flex-shrink: 0;
	flex-grow: 0;
	min-height: 140px;
	margin: 0;
	background: #FFF;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}

.juiz-sps-squared-options .juiz_sps_options_p label,
.lmdd-mirror.juiz_sps_options_p label {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.juiz-sps-squared-options .juiz_sps_options_p label em,
.lmdd-mirror.juiz_sps_options_p label em {
	display: none;
}

.juiz-sps-handle {
	position: absolute;
	top: 8px;
	right: 8px;
	background: radial-gradient(circle at 50%, #ddd, #aaa 2px, white 3px) repeat;
	background-size: 9px 11px;
	width: 26px;
	height: 22px;
	cursor: grab;
	transition: all .275s;
}

[id$="-lmddClone"] .juiz-sps-handle {
	opacity: 0;
}

.lmdd-mirror .juiz-sps-handle {
	opacity: 1;
}

.juiz-sps-handle:active {
	cursor: grabbing;
}

.jsps_demo_name {
	position: relative;
	text-align: center;
	margin-bottom: 12px;
	font-size: 12px;
	color: inherit;
}

.jsps_demo_icon::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #FFF;
}

.jsps_demo_icon {
	display: inline-block;
	margin-right: 0;
	font-size: 2em;
	color: inherit;
}

.jsps_demo_icon i {
	position: relative;
	transition: all .275s;
}

/* For custom network with image */
.jsps_demo_icon i svg {
	width: calc(1em - 4px);
	height: calc(1em - 4px);
}

.jsps_demo_icon i::after {
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%) scale(0);
	border-radius: 100px;
	background-color: currentColor;
	opacity: 0;
	transition: all .275s;
}

:checked + label .jsps_demo_icon i::after {
	opacity: .1;
	transform: translate(-50%, -38%) scale(1);
}

[value="twitter"]:checked + label {
	color: #1DA1F2;
}

[value="facebook"]:checked + label {
	color: #0A66C2;
}

[value="pinterest"]:checked + label {
	color: #E60023;
}

[value="viadeo"]:checked + label {
	color: #F07355;
}

[value="linkedin"]:checked + label {
	color: #0A66C2;
}

[value="weibo"]:checked + label {
	color: #D52A2C;
}

[value="vk"]:checked + label {
	color: #4680C2;
}

[value="reddit"]:checked + label {
	color: #FF4500;
}

[value="tumblr"]:checked + label {
	color: #001935;
}

[value="diigo"]:checked + label {
	color: #368BFF;
}

[value="evernote"]:checked + label {
	color: #00A82D;
}

[value="pocket"]:checked + label {
	color: #EF4056;
}

[value="mix"]:checked + label {
	color: #FF8126;
}

[value="whatsapp"]:checked + label {
	color: #128C7E;
}

[value="print"]:checked + label,
[value="bookmark"]:checked + label,
[value="mail"]:checked + label {
	color: #333C45;
}

[value="pinterest"]:checked + label {
	color: #E60023;
}

.juiz_sps_options_p[data-network] :checked + label[style] {
	color: var(--custom-color, currentColor);
}

input[type="checkbox"]:checked + label {
	font-weight: bold;
}

input[type="checkbox"]:checked + label em {
	font-weight: normal;
}

[id="juiz-sps"] input[type="radio"]+label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.juiz_sps_options_p.juiz_sps_options_p {
	margin: .5em 5% .5em 0;
}

.juiz_sps_options_p .dashicons-before,
.juiz_sps_options_p .dashicons {
	position: relative;
	top: 2px;
	color: #888;
}

.juiz_sps_styles_options + .juiz_sps_styles_options {
	margin-top: 1em;
}

.juiz_sps_styles_options label {
	vertical-align: top;
}

.juiz_sps_styles_options input {
	vertical-align: 8px;
}

.juiz_sps_styles_options.juiz_sps_styles_options {
	display: inline-block;
	margin-bottom: 2em;
}

.juiz_sps_demo_styles {
	display: inline-block;
	vertical-align: middle;
}

.juiz_sps_style_name {
	display: block;
	margin: -4px 0 0 2px;
	color: #777;
}

.juiz_sps_demo_hide {
	display: block;
	width: 592px;
	height: 37px;
	background: url(../img/demo-sprites.png) no-repeat 0 -52px;
}

.jsps-gif-demo {
	display: block;
	margin: -24px 0 16px -4px;
} 

.jsps_no_icon,
.jsps_icon {
	display: inline-block;
	vertical-align: -3px;
}

.jsps_no_icon {
	width: 16px;
	height: 16px;
	background: url(/wp-admin/images/menu.png) -276px -8px no-repeat;
}

.juiz_btn_link {
	display: inline-block;
	margin-right: 10px;
	padding: 3px 12px;
	text-decoration: none;
	border-radius: 3px;
	background-color: #e48e07;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .25), rgba(255, 255, 255, 0));
	border-width: 1px;
	border-style: solid;
	border-color: #e7a439 #e7a439 #ba7604;
	box-shadow: 0 1px 0 rgba(230, 192, 120, 0.5) inset;
	color: #FFFFFF;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	transition: all .275s;
}

.juiz_btn_link i {
	margin-right: 4px;
	opacity: 0.65;
	transition: opacity .275s;
}

.juiz_btn_link:hover,
.juiz_btn_link:focus {
	color: #FFF;
}

.juiz_btn_link:hover i {
	opacity: 1;
}

.juiz_twitter {
	background-color: #1094bf;
	border-color: #10a1d1 #10a1d1 #0e80a5;
	box-shadow: 0 1px 0 rgba(120, 203, 230, 0.5) inset;
}

.juiz_rate,
.juiz_doc {
	background-color: #666;
	border-color: #777 #777 #444;
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.5) inset;
}

.juiz_flattr {
	background-color: #6FB43B;
	border-color: #74C13E #74C13E #78B642;
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.5) inset;
}

/* Hover styles */
.juiz_paypal:hover {
	background-color: #BA7F27;
}

.juiz_twitter:hover {
	background-color: #0D7899;
}

.juiz_rate:hover,
.juiz_doc:hover {
	background-color: #444;
}

.juiz_flattr:hover {
	background-color: #669B37;
}

.juiz_bottom_links a + em {
	margin-top: 1em;
}

.juiz_bottom_links em {
	display: block;
	margin-bottom: 1em;
	font-style: italic;
	color: #777;
}

#juiz_sps_mail_body {
	width: 100%;
	max-width: 400px;
}

.juiz_hide {
	display: none;
}

.juiz_bottom_links a {
	margin: .5em 0;
	padding: 7px 13px;
	font-weight: bold;
	letter-spacing: 0.025em;
}

@media (max-width:640px) {
	[id="juiz-sps"] .jsps_info {
		margin-left: 0;
	}

	[id="juiz-sps"] form {
		padding-left: 0;
	}

	.juiz_sps_demo_styles {
		width: 110px;
	}

	[id="juiz-sps"] .juiz_sps_styles_options input[type="radio"]+label {
		margin-right: 0
	}

	.juiz_sps_style_name a {
		display: block;
	}

	#jsps_style_5 {
		vertical-align: 21px;
	}

	.juiz_sps_demo_hide {
		width: 92px;
	}
}

@media (min-width: 1380px) {
	.jsps-main-content {
		margin-top: 19px;
		margin-right: 265px;
	}

	.juiz_bottom_links {
		position: fixed;
		top: 50px;
		right: 15px;
		width: 255px;
		border: 0;
	}

	.juiz_bottom_links_p {
		background: #FFF;
		margin-top: 0;
		border: 1px solid #e3e8ed;
		border-top: 0;
	}

	.juiz_bottom_links a {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		width: 100%;
		display: block;
	}
}

/**
 * LMDD Drag & Drop Script
 */
.jsps-drag-container {
	position: relative;
}

#jsps-draggable-networks-lmddClone {
	left: 0!important;
	top: 0!important;
}

.no-display {
	display: none !important;
}

.no-transition,
.no-transition * {
	transition: none !important;
}

.unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	cursor: not-allowed;
}

.hidden-layer,
.hidden-layer * {
	opacity: 0;
	z-index: 1;
	cursor: crosshair !important;
}

.visible-layer,
.visible-layer * {
	opacity: 1;
	z-index: -1;
	pointer-events: none;
	transition: all 0.7s;
}

.visible-layer .jsps_demo_icon i {
	z-index: 1;
}
.visible-layer input {
	display: none!important;
	opacity: 0!important;
}

.visible-layer .lmdd-mirror.gf-transition {
	transition: all 0.3s !important;
}

.visible-layer .lmdd-mirror {
	z-index: 1;
	position: absolute;
	margin: 0;
	pointer-events: none;
	transition: top 00s, left 00s !important;
	opacity: 0.5;
}

.lmdd-shadow {
	opacity: 0.5;
}

.lmdd-hidden {
	visibility: hidden;
}
/**
 * Notification system (AJAX toaster)
 */
.juiz-sps-notif {
	position: fixed;
	bottom: 48px;
	left: 50%;
	display: flex;
	width: 320px;
	border: 1px solid rgba(67, 175, 210, .1);
	border-radius: 8px;
	background: #FFF;
	overflow: hidden;
	box-shadow: 0 2px 8px -4px rgba(30, 30, 45, .2),
				0 4px 12px -8px rgba(30, 30, 45, .15), 
				0 8px 18px -12px rgba(30, 30, 45, .1);
	
	opacity: 0;
	transform: translateX(-50%) translateY(200px);
	transition: all .300s;
}

.juiz-sps-notif.is-visible {
	opacity: 1;
	transform: translateX(-50%) translateY(0);
}

.juiz-sps-notif-icon {
	padding: 16px;
	background: rgba(67, 175, 210, .1);
}

.juiz-sps-notif-icon i {
	font-size: 32px;
	width: 1em;
	height: 1em;
	color: #43AFD2;
}

.juiz-sps-notif-text.juiz-sps-notif-text {
	margin: 0;
	padding: 16px;
	align-self: center;
	font-weight: 500;
}

/* Success */
.juiz-sps-notif.is-success {
	border-color: rgba(70, 180, 80, .1);
}
.juiz-sps-notif.is-success .juiz-sps-notif-icon {
	background: rgba(70, 180, 80, .1);
}
.juiz-sps-notif.is-success .juiz-sps-notif-icon i {
	color: rgb(70, 180, 80);
}

/* Warning */
.juiz-sps-notif.is-error {
	border-color: rgba(255, 185, 0, .1);
}
.juiz-sps-notif.is-error .juiz-sps-notif-icon {
	background: rgba(255, 185, 0, .1);
}
.juiz-sps-notif.is-error .juiz-sps-notif-icon i {
	color: rgb(255, 185, 0);
}

/**
 * Dark mode support
 */
.dark-mode [id="juiz-sps"] .jsps_info,
.dark-mode [id="juiz-sps"] .juiz_bottom_links {
	background: rgba(255, 255, 255, .25);
}

.dark-mode [id="juiz-sps"] .jsps_info code {
	background: rgba(0, 0, 0, .2);
}

.dark-mode [id="juiz-sps"] .juiz_bottom_links em,
.dark-mode [id="juiz-sps"] .juiz_bottom_links a {
	color: white;
}