/*
Plugin Name: Juiz Social Post Sharer
Plugin URI: http://creativejuiz.fr
Author: Geoffrey Crofte
*/

.juiz-sps-modal {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #FFF;
	background: rgba(0, 0, 0, .9);
	z-index: 99999;
}
.juiz-sps-modal .juiz-sps-modal-inside {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 1em auto;
	width: 460px;
	max-width: 100%;
	font-size: 1em;
	background: #FFF;
	color: #333;
	text-align: center;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
	border-radius: 3px;
	overflow: auto;
}
.juiz-sps-modal .juiz-sps-modal-header,
.juiz-sps-modal .juiz-sps-modal-content,
.juiz-sps-modal .juiz-sps-modal-footer {
	padding: 10px 20px;
}
.juiz-sps-modal .juiz-sps-modal-header {
	padding: 20px;
	background: #F2F2F2;
}
.juiz-sps-modal .juiz-sps-modal-title {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}
.juiz-sps-modal .juiz-sps-message-info,
.juiz-sps-modal .juiz-sps-input-info {
	padding: 5px 10px;
	font-size: 12px;
	font-style: italic;
	background: #eee;
	color: #444;	
}
.juiz-sps-modal .juiz-sps-input-info {
	display: block;
}
.juiz-sps-modal label {
	display: block;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
.juiz-sps-modal form p {
	margin: .4em 0;
}
.juiz-sps-modal input[type="text"],
.juiz-sps-modal input[type="email"],
.juiz-sps-modal textarea {
	width: 100%;
	max-width: 100%;
	padding: 0.5278em;
	margin: 0;
	border: 1px solid rgba(51, 51, 51, 0.1);
	font-size: 14px;
	color: rgba(51, 51, 51, 0.7);
	background: #f7f7f7;
}
.juiz-sps-modal textarea {
	resize: vertical;
	height: 85px;
}
.juiz-sps-modal .juiz-sps-submit-line {
	margin: .5em 0;
}
.juiz-sps-modal .juiz-sps-submit-line button,
.juiz-sps-modal .juiz-sps-submit-line input {
	background: #555;
	color: #FFF;
	border-radius: 3px;
	box-shadow: 0 3px 0 #222;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.1em;
}

.juiz-sps-modal .juiz-sps-message {
	padding: 10px 15px;
	font-size: 14px;
	color: #FFF;
}
.juiz-sps-modal .juiz-sps-error {
	background: #AE4848;
}
.juiz-sps-modal .juiz-sps-success {
	background: #83B113;
}

.juiz-sps-modal .juiz-sps-close {
	position: fixed;
	top: 15px; right: 15px;
	width: 20px; height: 20px;
	padding: 0;
	font-size: 1.3em;
	line-height: 18px;
	text-align: center;
	background: transparent;
	color: #FFF;
	color: rgba(255,255,255,.7);
}
.juiz-sps-modal .juiz-sps-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
.juiz-sps-modal .juiz-sps-submit-txt,
.juiz-sps-modal .juiz-sps-loader {
	display: inline-block;
	vertical-align: middle;
}
.juiz-sps-modal .juiz-sps-loader {
	width: 0;
	opacity: 0;
	margin-right: 0;
	height: 22px;
	transition: all .275s;
}
.juiz-sps-modal .juiz-sps-loader.is-active {
	width: 22px;
	opacity: 1;
	margin-right: 6px;
}

@media print {
	.juiz-sps-modal {
		display: none;
		margin: 0; padding: 0;
		opacity: 0;
		visibility: hidden;
	}
}