/*
Plugin Name: Juiz Social Post Sharer
Plugin URI: http://creativejuiz.fr
Author: Geoffrey Crofte
Contributors: Geoffrey Crofte, Fandia
Version: Styles v6 (Design and CSS by Fandia - http://fandia.w.pw)
*/
/* Colors */
.juiz_sps_links {
	--neutral: #333C45;
	--neutraldark: #1A1C1E;

	--twitter: #1DA1F2;
	--twitterdark: #005FD1;

	--twitter: #222;
	--twitterdark: #000;

	--linkedin: #0A66C2;
	--linkedindark: #004183;

	--facebook: #1778F2;
	--facebookdark: #385898;

	--viadeo: #F07355;
	--viadeodark: #D64928;

	--weibo: #D52A2C;
	--weibodark: #AD1719;

	--pinterest: #E60023;
	--pinterestdark: #AE0719;

	--vk: #4680C2;
	--vkdark: #304186;

	--tumblr: #001935;
	--tumblrdark: #020C16;

	--reddit: #FF4500;
	--redditdark: #CF4816;

	--diigo: #368BFF;
	--diigodark: #256ED2;

	--evernote: #00A82D;
	--evernotedark: #0D862E;

	--pocket: #EF4056;
	--pocketdark: #CB3F50;

	--mix: #FF8126;
	--mixdark: #DE201D;

	--whatsapp: #128C7E;
	--whatsappdark: #075E54;

	--shareapi: #5250B1;
	--shareapidark: #3C3B69;
}

@font-face{
	font-family: 'jsps-icons';
	src: url('../common/fonts/jsps.woff2?233') format('woff2'),
	     url('../common/fonts/jsps.woff?233') format('woff'),
		 url('../common/fonts/jsps.ttf?233') format('truetype'),
		 url('../common/fonts/jsps.svg?233') format('svg');
	font-weight: normal;
	font-style: normal;
}

.juiz_sps_icon{
	font-family: 'jsps-icons'!important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
}

.jsps-bookmark:before {
  content: "\e900";
}
.jsps-diigo:before {
  content: "\e901";
}
.jsps-evernote:before {
  content: "\e902";
}
.jsps-facebook:before {
  content: "\e903";
}
.jsps-linkedin:before {
  content: "\e904";
}
.jsps-mail:before {
  content: "\e905";
}
.jsps-mix:before {
  content: "\e906";
}
.jsps-pinterest:before {
  content: "\e907";
}
.jsps-pocket:before {
  content: "\e908";
}
.jsps-print:before {
  content: "\e909";
}
.jsps-reddit:before {
  content: "\e90a";
}
.jsps-shareapi:before,
.jsps-share:before {
  content: "\e90b";
}
.jsps-tumblr:before {
  content: "\e90c";
}
.jsps-twitter-old:before {
  content: "\e90d";
}
.jsps-viadeo:before {
  content: "\e90e";
}
.jsps-vk:before {
  content: "\e90f";
}
.jsps-weibo:before {
  content: "\e910";
}
.jsps-whatsapp:before {
  content: "\e911";
}
.jsps-instagram:before {
	content: "\e913";
}
.jsps-buffer:before {
	content: "\e912";
}
.jsps-tiktok:before {
	content: "\e914";
}
.jsps-twitter:before {
	/* X now */
	content: "\e915";
}

.juiz_sps_links {
	word-wrap: normal!important;
	clear: both;
	margin: 1em 0;
}
.juiz_sps_maybe_hidden_text {
	position: absolute;
	left: -9999em;
	text-indent: -9999em;
}
[dir="rtl"] .juiz_sps_maybe_hidden_text {
	position: absolute;
	right: -9999em;
}
.juiz_sps_links ul,
.juiz_sps_links .juiz_sps_item  { 
	padding: 0!important;
	margin: 0!important;
	list-style: none!important;
}


.juiz_sps_links .juiz_sps_links_list,
.juiz_sps_links .juiz_sps_item,
.juiz_sps_links .juiz_sps_item .juiz_sps_button { 
	display: flex;
}

/* UL list */
.juiz_sps_links .juiz_sps_links_list {
	flex-wrap: wrap;
	margin-left: -4px;
	margin-right: -4px;
}

/* LI item */
.juiz_sps_links .juiz_sps_item {
	margin: 4px!important;
}

.juiz_sps_links .juiz_sps_item .juiz_sps_button { 
	align-items: center;
	padding: 0.5em 1.2em 0.5em 0.62em;
	border: 0;
	font-size: 0.8em;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,.35);
	background: #2E2E2E;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-transition: all .4s;
	transition: all .4s;
	text-transform: inherit;
	font-family: inherit;
	line-height: 1.55;
}

.juiz_sps_links .juiz_sps_item:last-child .juiz_sps_button {
	margin-right: 0;
}

.juiz_sps_links .juiz_sps_icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.25em;
	width: 1em;
	height: 1em;
}

.juiz_sps_links .juiz_sps_icon svg {
	width: calc(100% - 6px);
	height: calc(100% - 6px);
}

.juiz_sps_links .juiz_sps_item .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_item .juiz_sps_button:focus {
	color: #FFF;
	background-color: var(--jsps-custom-hover-color, var(--neutral));
}

.juiz_sps_links .juiz_sps_link_twitter .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_twitter .juiz_sps_button:focus { 
	background-color: var(--twitter);
}

.juiz_sps_links .juiz_sps_link_facebook .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_facebook .juiz_sps_button:focus { 
	background-color: var(--facebook);
}

.juiz_sps_links .juiz_sps_link_vk .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_vk .juiz_sps_button:focus { 
	background-color: var(--vk);
}

.juiz_sps_links .juiz_sps_link_pinterest .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_pinterest .juiz_sps_button:focus { 
	background-color: var(--pinterest);
 }

.juiz_sps_links .juiz_sps_link_viadeo .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_viadeo .juiz_sps_button:focus { 
	background-color: var(--viadeo);
 }

.juiz_sps_links .juiz_sps_link_mix .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_mix .juiz_sps_button:focus { 
	background-color: var(--mix);	
}

.juiz_sps_links .juiz_sps_link_linkedin .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_linkedin .juiz_sps_button:focus { 
	background-color: var(--linkedin);
 }

.juiz_sps_links .juiz_sps_link_diigo .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_diigo .juiz_sps_button:focus { 
	background-color: var(--diigo);
 }

 .juiz_sps_links .juiz_sps_link_tumblr .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_tumblr .juiz_sps_button:focus {
	background-color: var(--tumblr);
}

.juiz_sps_links .juiz_sps_link_reddit .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_reddit .juiz_sps_button:focus {
	background-color: var(--reddit);
}

.juiz_sps_links .juiz_sps_link_evernote .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_evernote .juiz_sps_button:focus {
	background-color: var(--evernote);
}

.juiz_sps_links .juiz_sps_link_weibo .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_weibo .juiz_sps_button:focus { 
	background-color: var(--weibo);
}

.juiz_sps_links .juiz_sps_link_shareapi .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_shareapi .juiz_sps_button:focus { 
	background-color: var(--shareapi);
}

.juiz_sps_links .juiz_sps_link_whatsapp .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_whatsapp .juiz_sps_button:focus { 
	background-color: var(--whatsapp);
}

.juiz_sps_links .juiz_sps_link_pocket .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_pocket .juiz_sps_button:focus { 
	background-color: var(--pocket);
}

.juiz_sps_links .juiz_sps_link_bookmark .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_bookmark .juiz_sps_button:focus,
.juiz_sps_links .juiz_sps_link_print .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_print .juiz_sps_button:focus,
.juiz_sps_links .juiz_sps_link_mail .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_link_mail .juiz_sps_button:focus {
	background: var(--neutral);
}


/**
 * Specific if names are hidden
 */
.juiz_sps_hide_name .juiz_sps_item .juiz_sps_button {
	padding: 0.4em .85em 0.45em;
}

.juiz_sps_hide_name .juiz_sps_button .juiz_sps_network_name {
	max-width:0;
	white-space: nowrap!important;
	overflow: hidden;
}

.juiz_sps_hide_name .juiz_sps_button .juiz_sps_network_name {
	-webkit-transition: max-width .75s;
	transition: max-width .75s;
}

.juiz_sps_hide_name .juiz_sps_button .juiz_sps_icon {
	margin-right:0;
	-webkit-transition: margin .75s;
	transition: margin .75s;
}

.juiz_sps_hide_name .juiz_sps_button:hover .juiz_sps_network_name,
.juiz_sps_hide_name .juiz_sps_button:focus .juiz_sps_network_name {
	max-width: 8em;
}

.juiz_sps_hide_name .juiz_sps_button:hover .juiz_sps_icon,
.juiz_sps_hide_name .juiz_sps_button:focus .juiz_sps_icon {
	margin-right: 0.3em;
}

/**
 * Compact Mode
 */
.juiz_sps_compact .juiz_sps_item .juiz_sps_button {
	font-size: 0.725em;
}

.juiz_sps_compact .juiz_sps_icon {
	font-size: 20px;
}

.juiz_sps_compact .juiz_sps_item {
	margin:  2px !important;
}

/**
 * Hide + Compact
 */
.juiz_sps_compact.juiz_sps_hide_name .juiz_sps_item .juiz_sps_button {
	padding: .4em .42em;
}

.juiz_sps_compact.juiz_sps_hide_name .juiz_sps_item .juiz_sps_button:hover,
.juiz_sps_compact.juiz_sps_hide_name .juiz_sps_item .juiz_sps_button:focus {
	padding: .4em .6em .4em .5em;
}

.juiz_sps_compact.juiz_sps_hide_name .juiz_sps_button:hover .juiz_sps_icon,
.juiz_sps_compact.juiz_sps_hide_name .juiz_sps_button:focus .juiz_sps_icon {
	margin-right: 4px;
}

/**
 * Counters
 */
.juiz_sps_counter,
.juiz_sps_totalcount {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 8px;
	border: 0.15em solid #2E2E2E;
	font-size: 0.725em;
	color: #F2F2F2;
	background: #676767;
}

.juiz_sps_counter:after {
	content: "";
	position: absolute;
	right: -0.425em;
	top: 50%;
	margin-top:-0.4em;
	border-left: 0.45em solid #676767;
	border-bottom: 0.45em solid transparent;
	border-top: 0.45em solid transparent;
}

.juiz_sps_totalcount_item {
	order: -1;
	border-right: 2px solid var(--neutral);
}

.juiz_sps_counters .juiz_sps_totalcount {
	display: flex;
	flex-direction: column-reverse;
	border: 0;
	line-height: 1;
	color: var(--neutral);
	background: none;
}

.juiz_sps_compact .juiz_sps_total_number {
	font-size: 1em;
}

.juiz_sps_total_number {
	font-size: 1.3em;
}

.juiz_sps_total_share_text {
	font-size: .785em;
}

.juiz_sps_links.counters_total .juiz_hidden_counter {
	display: none!important;
}

@media print {
	.juiz_sps_links {
		display: none;
		margin: 0; padding: 0;
		opacity: 0;
		visibility: hidden;
	}
}