/*
Plugin Name: Juiz Social Post Sharer
Plugin URI: http://creativejuiz.fr
Author: Geoffrey Crofte
Version: Styles v1
*/
/* Colors */
.juiz_sps_links {
	--bg: #e2e4e6;
	--color: #646e76;

	/* Networks */
	--neutral: #333C45;
	--twitter: #1DA1F2; /* Keeping it… T.T */
	--twitter: #000;
	--linkedin: #0A66C2;
	--facebook: #1778F2;
	--viadeo: #F07355;
	--weibo: #D52A2C;
	--pinterest: #E60023;
	--vk: #4680C2;
	--tumblr: #001935;
	--reddit: #FF4500;
	--diigo: #368BFF;
	--evernote: #00A82D;
	--pocket: #EF4056;
	--mix: #FF8126;
	--whatsapp: #128C7E;
	--shareapi: #5250B1;
}

@font-face {
	font-family: 'jsps-icons';
	src: url('../common/fonts/jsps.woff2?233') format('woff2'),
	     url('../common/fonts/jsps.woff?233') format('woff'),
		 url('../common/fonts/jsps.ttf?233') format('truetype'),
		 url('../common/fonts/jsps.svg?233') format('svg');
	font-weight: normal;
	font-style: normal;
}

.juiz_sps_icon {
	font-family: 'jsps-icons'!important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}

.jsps-bookmark:before {
  content: "\e900";
}
.jsps-diigo:before {
  content: "\e901";
}
.jsps-evernote:before {
  content: "\e902";
}
.jsps-facebook:before {
  content: "\e903";
}
.jsps-linkedin:before {
  content: "\e904";
}
.jsps-mail:before {
  content: "\e905";
}
.jsps-mix:before {
  content: "\e906";
}
.jsps-pinterest:before {
  content: "\e907";
}
.jsps-pocket:before {
  content: "\e908";
}
.jsps-print:before {
  content: "\e909";
}
.jsps-reddit:before {
  content: "\e90a";
}
.jsps-share:before,
.jsps-shareapi:before {
  content: "\e90b";
}
.jsps-tumblr:before {
  content: "\e90c";
}
.jsps-twitter-old:before {
  content: "\e90d";
}
.jsps-viadeo:before {
  content: "\e90e";
}
.jsps-vk:before {
  content: "\e90f";
}
.jsps-weibo:before {
  content: "\e910";
}
.jsps-whatsapp:before {
  content: "\e911";
}
.jsps-instagram:before {
	content: "\e913";
}
.jsps-buffer:before {
	content: "\e912";
}
.jsps-tiktok:before {
	content: "\e914";
}
.jsps-twitter:before {
	/* X now */
	content: "\e915";
}

.juiz_sps_links {
	word-wrap: normal!important;
	clear: both;
	margin: 1em 0;
}

.juiz_sps_maybe_hidden_text {
	position:absolute;
	left:-9999px;
	text-indent:-9999px;
}

[dir="rtl"] .juiz_sps_maybe_hidden_text {
	position: absolute;
	right: -9999em;
}

.juiz_sps_links ul,
.juiz_sps_links .juiz_sps_item  { 
	padding: 0!important;
	margin: 0!important;
	list-style: none!important;
}
.juiz_sps_links .juiz_sps_item,
.juiz_sps_links .juiz_sps_item .juiz_sps_button,
.juiz_sps_links .juiz_sps_item .juiz_sps_button .juiz_sps_network_name { 
	display: inline-block;
	vertical-align: middle;
}

.juiz_sps_links .juiz_sps_item .juiz_sps_button {
	padding: 5px 15px 5px 10px;
	margin: 3px 5px 3px 0;
	border: 1px solid #ddd!important;
	background-color: var(--bg);
	background-image: linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
	color: var(--jsps-custom-hover-color, var(--color));
	text-decoration: none;
	font-size: 12px;
	border-radius: 4px;
	box-shadow:1px 1px 3px rgba(0, 0, 0, 0.05);
	transition: all .4s;
	text-transform: inherit;
	font-family: inherit;
	line-height: 1.55;
}

.juiz_sps_links .juiz_sps_item .juiz_sps_button .juiz_sps_network_name {
	font-weight: normal;
}

.juiz_sps_item .juiz_sps_counter + .juiz_sps_button {
	border-radius: 0 4px 4px 0;
}

.juiz_sps_links .juiz_sps_item:last-child .juiz_sps_button {
	margin-right: 0;
}

.juiz_sps_links .juiz_sps_icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.juiz_sps_links .juiz_sps_icon svg {
	width: calc(100% - 5px);
	height: calc(100% - 5px);
}

.juiz_sps_links .juiz_sps_item .juiz_sps_button:hover .juiz_sps_icon {
	animation: roll forwards 1 .4s;
}

.juiz_sps_links .juiz_sps_item .juiz_sps_button:hover,
.juiz_sps_links .juiz_sps_item .juiz_sps_button:focus {
	color: var(--neutraldark);
}

@keyframes roll {
	0%, 100% {
		transform: translateY(0);
		opacity: 1;
	}
	49% {
		transform: translateY(-4px);
		opacity: 0;
	}
	50% {
		transform: translateY(4px);
		opacity: 0;
	}
}

.juiz_sps_links .juiz_sps_link_twitter .juiz_sps_button {
	color: var(--twitter);
}

.juiz_sps_links .juiz_sps_link_diigo .juiz_sps_button {
	color: var(--diigo);
}

.juiz_sps_links .juiz_sps_link_vk .juiz_sps_button {
	color: var(--vk);
}

.juiz_sps_links .juiz_sps_link_facebook .juiz_sps_button {
	color: var(--facebook);
}

.juiz_sps_links .juiz_sps_link_linkedin .juiz_sps_button {
	color: var(--linkedin);
}

.juiz_sps_links .juiz_sps_link_mix .juiz_sps_button {
	color: var(--mix);
}

.juiz_sps_links .juiz_sps_link_viadeo .juiz_sps_button {
	color: var(--viadeo);
}

.juiz_sps_links .juiz_sps_link_reddit .juiz_sps_button {
	color: var(--reddit);
}

.juiz_sps_links .juiz_sps_link_pocket .juiz_sps_button {
	color: var(--pocket);
}

.juiz_sps_links .juiz_sps_link_pinterest .juiz_sps_button {
	color: var(--pinterest);
}

.juiz_sps_links .juiz_sps_link_weibo .juiz_sps_button {
	color: var(--weibo);
}

.juiz_sps_links .juiz_sps_link_evernote .juiz_sps_button {
	color: var(--evernote);
}

.juiz_sps_links .juiz_sps_link_whatsapp .juiz_sps_button {
	color: var(--whatsapp);
}

.juiz_sps_links .juiz_sps_link_tumblr .juiz_sps_button {
	color: var(--tumblr);
}

.juiz_sps_links .juiz_sps_link_shareapi .juiz_sps_button {
	color: var(--shareapi);
}

.juiz_sps_links .juiz_sps_link_mail .juiz_sps_button,
.juiz_sps_links .juiz_sps_link_print .juiz_sps_button,
.juiz_sps_links .juiz_sps_link_bookmark .juiz_sps_button {
	color: var(--neutral);
}

/* special if names are hidden */
.juiz_sps_hide_name .juiz_sps_item .juiz_sps_button {
	padding: 3px 10px 2px 10px;
}

.juiz_sps_hide_name .juiz_sps_button .juiz_sps_icon,
.juiz_sps_hide_name .juiz_sps_button .juiz_sps_network_name {
	transition: max-width .45s, margin .45s;
}

.juiz_sps_hide_name .juiz_sps_button .juiz_sps_network_name {
	max-width: 0;
	white-space: nowrap!important;
	overflow: hidden;
}

.juiz_sps_hide_name .juiz_sps_button .juiz_sps_icon {
	margin-right: 0;
}

.juiz_sps_hide_name .juiz_sps_button:hover .juiz_sps_network_name,
.juiz_sps_hide_name .juiz_sps_button:focus .juiz_sps_network_name {
	max-width: 80px;
}

.juiz_sps_hide_name .juiz_sps_button:hover .juiz_sps_icon,
.juiz_sps_hide_name .juiz_sps_button:focus .juiz_sps_icon {
	margin-right: 5px;
}

/**
 * Counters
 */

.juiz_sps_counter,
.juiz_sps_totalcount {
	position: relative;
	display: inline-block;
	padding: 4px 6px 3px;
	vertical-align: middle;
	font-size: 14px;
	color: #777;
	background: #ccc;
	border-radius: 3px 0 0 3px;
	box-shadow: inset 0 0 4px rgba(0,0,0,.2);
}

.juiz_sps_counter:after {
	content: "";
	position: absolute;
	right: -6px;
	top: 50%;
	margin-top:-5px;
	border-left: 6px solid #bbbbbb;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
}


.juiz_sps_counters .juiz_sps_totalcount {
	display: flex;
	border-radius: 0;
	flex-direction: column-reverse;
	border: 0;
	border-left: 2px solid #888;
	line-height: 1;
	color: var(--neutral);
	background: none;
	box-shadow: none;
	padding: 4px 8px;
}

.juiz_sps_total_number {
	font-size: 1em;
}

.juiz_sps_total_share_text {
	font-size: .785em;
}

.juiz_sps_links.counters_total .juiz_hidden_counter {
	display: none!important;
}

@media print {
	.juiz_sps_links {
		display: none;
		margin: 0; padding: 0;
		opacity: 0;
		visibility: hidden;
	}
}